body {
    padding-top: 60px;
}

a {
    color: #f4645f;
    font-weight: bold;
}

// Sidebar
div#sidebar {
    color: #f4645f;
    margin: 20px;
}

div#sidebar ul{
    list-style: none;
    list-style-image: none;
    padding-left: 0;
}
