body {
    padding-top: 60px;
}

a,
a:hover {
    color: #F4645F;
    font-weight: bold;
}

/* Sidebar */
div#sidebar {
    color: #F4645F;
    margin-top: 20px;
}

div#sidebar ul {
    list-style: none;
    list-style-image: none;
    padding-left: 0;
}

div#sidebar h3 {
    color: #333333;
}
